:root{
    --gap: 1.5em;
}

*{
    margin: 0px;
    padding: 0px;
}
div{
   border-radius: 8px;
}

.container{
    display: grid;
    background-color: azure;
    gap: var(--gap);

    grid-template:
    "sidebar header" 100px
    "sidebar main" 1fr
    / minmax(150px, 1fr) minmax(468px, 4fr);

    transition: all 0.5s ease;
    height:100vh;
    position:relative;
}

.sidebar{
    grid-area: sidebar;
    background-color: blueviolet;
}


.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: var(--gap);
    grid-area: main;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: Auto repeat(3, 1fr);
    background-color: gray;
    gap: var(--gap);
    padding:var(--gap);
}

.projects h1{
    grid-column: span 2;
}

.card{
    background-color: green;
    padding:var(--gap);
}
.header{
    background-color: orange;
    grid-area: header;
}

.announcements{
    background-color: brown;
    padding: var(--gap);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    gap: var(--gap);
}

.announcements div{
    background-color: chartreuse;
}

@media screen and (max-width: 800px) {
    :root{
        --gap:0.5em;
    }

    .container{

        grid-template: 
        "header" auto
        "sidebar" auto
        "announcments"
        "main" 4fr
        / 1fr;

        height:500vh
 
    }

    
}