:root{
    --gap: 1.5em;
}

*, h1{
    margin: 0px;
    padding: 0px;
}
div{
   border-radius: 8px;
}

.container{
    display: grid;
    background-color: azure;
    gap: var(--gap);

    grid-template:
    "sidebar header" 100px
    "sidebar main" 1fr
    / minmax(150px, 1fr) minmax(468px, 4fr);

    transition: all 0.5s ease;
    height:100vh;
    position:relative;
}

.sidebar{
    grid-area: sidebar;
    background-color: blueviolet;
}


.main{
    display: grid;
    gap: var(--gap);
    grid-area: main;

    grid-template:
    "projects announcements"
    / 3fr 1fr;

}

.projects{
    display: grid;
    background-color: gray;
    gap: var(--gap);
    padding:var(--gap);

    grid-area: projects;

    grid-template:
    "mheader mheader" 50px
    / 1fr 1fr;
}

.projects h1{
    grid-area: mheader;
    padding: 0px
}

.card{
    background-color: green;
    padding:var(--gap);
    min-width: 200px;
    max-width:600px;
    justify-self: center;
}
.header{
    background-color: orange;
    grid-area: header;
}

.announcements{
    background-color: brown;
    padding: var(--gap);
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto 1fr;
    gap: var(--gap);

    grid-area: announcements;
}

.announcements div{
    background-color: chartreuse;
}

@media screen and (max-width: 1000px) {
    :root{
        --gap:0.5em;
    }

    .container{

        grid-template: 
        "header" 50px
        "sidebar" 50px
        "announcments"
        "main" 4fr
        / 1fr;


 
    }

    .card{
        min-height: 200px;
    }



    .main{
        grid-template: 
        "announcements" 1fr
        "projects" auto
        / 1fr
    }
}

@media  screen and (max-width: 650px) {
    .projects{
        grid-template:
        'mheader' auto
        / 1fr;
    }
}